@import url("https://use.typekit.net/ull4hyy.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Proxima Nova', sans-serif;
}

.container{
    max-width: 1121px;
    margin: auto;
}

.user-info-box{
    display: flex;
    flex-wrap: wrap;
    margin: 32px 0;
    gap: 25px;
}

img{
    width: 25px;
}